/* Heading pertama */
h1 {
    font-size: 13px; /* ukuran font 13px */
}

/* class "nama" yang ada di heading 2 */
.nama {
    background-color: blue; /* Warna background biru */
    color: yellow; /* Warna font kuning */
}

/* id "nim" yang ada di heading 2 */
#nim {
    color: blue; /* Warna font biru */
}

/* Highlight "ipsum" di paragraf pertama yang udah dipisahin menggunakan span */
p span.nama {
    font-style: italic; /* Jenis teks miring */
}

/* Highlight "amet" di paragraf kedua yang udah dipisahin menggunakan span */
.teks2 span {
    background-color: yellow; /* Warna background kuning */
    font-style: italic; /* Jenis teks miring */
}

/* Membuat paragraf menjadi rata tengah */
p {
    text-align: center;
}

/* Membuat hanya paragraf kedua menjadi rata kanan */
p.teks2 {
    text-align: right;
}

/* Heading tiga  */
h3 a {
    color: black; /* Warna tulisan hitam */
    text-decoration: none; /* Menghapus garis bawah pada link */
}
